@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 240;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
